{% extends 'layout.html' %}
{% load templatetags %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 sideBar">
                <div class="panel panel-default">
                    <div class="panel-heading">Kategoriler</div>
                    <div class="panel-body">
                        <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                            <ul class="nav navbar-nav side-nav">



                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default priceRange">
                    <div class="panel-heading">Filter by Price</div>
                    <div class="panel-body clearfix">
                        <div class="price-slider-inner">
                    <span class="amount-wrapper">
                      Price:
                      <input type="text" id="price-amount-1" readonly>
                      <strong>-</strong>
                      <input type="text" id="price-amount-2" readonly>
                    </span>
                            <div id="price-range"></div>
                        </div>
                        <input class="btn-default" type="submit" value="Filter">
                        <!-- <span class="priceLabel">Price: <strong>$12 - $30</strong></span> -->
                    </div>
                </div>
                <div class="panel panel-default filterNormal">
                    <div class="panel-heading">filter by Color</div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Black<span>(15)</span></a></li>
                            <li><a href="#">White<span>(10)</span></a></li>
                            <li><a href="#">Red<span>(7)</span></a></li>
                            <li><a href="#">Blue<span>(12)</span></a></li>
                            <li><a href="#">Orange<span>(12)</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-default filterNormal">
                    <div class="panel-heading">filter by Size</div>
                    <div class="panel-body">
                        <ul class="list-unstyled clearfix">
                            <li><a href="#">Small<span>(15)</span></a></li>
                            <li><a href="#">Medium<span>(10)</span></a></li>
                            <li><a href="#">Large<span>(7)</span></a></li>
                            <li><a href="#">Extra Large<span>(12)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">

                <div class="row productListSingle">



                </div>
            </div>
        </div>
    </div>
{% endblock %}