{% extends 'layout.html' %}
{% load templatetags %}
{% block content %}
        <div class="container">

{#            <div class="page-header">#}
{#                <h4>Featured Collection</h4>#}
{#            </div>#}

{#            <div class="row featuredCollection margin-bottom">#}
{#                <div class="col-md-4 col-12">#}
{#                    <div class="thumbnail" onclick="location.href='single-product.html';">#}
{#                        <div class="imageWrapper">#}
{#                            <img src="img/home/featured-collection/featured-collection-01.jpg"#}
{#                                 alt="feature-collection-image">#}
{#                            <div class="caption">#}
{#                                <h3>Shoes Collections</h3>#}
{#                                <small>Start From $59.00</small>#}
{#                            </div>#}
{#                            <div class="masking">#}
{#                                <a href="product-grid-left-sidebar.html" class="btn viewBtn">View Products</a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-12">#}
{#                    <div class="thumbnail" onclick="location.href='single-product.html';">#}
{#                        <div class="imageWrapper">#}
{#                            <img src="img/home/featured-collection/featured-collection-02.jpg"#}
{#                                 alt="feature-collection-image">#}
{#                            <div class="caption">#}
{#                                <h3>Bags BagPacks</h3>#}
{#                                <small>Start From $150.00</small>#}
{#                            </div>#}
{#                            <div class="masking">#}
{#                                <a href="product-grid-left-sidebar.html" class="btn viewBtn">View Products</a>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-12">#}
{#                    <div class="thumbnail" onclick="location.href='single-product.html';">#}
{#                        <div class="imageWrapper">#}
{#                            <img src="img/home/featured-collection/featured-collection-03.jpg"#}
{#                                 alt="feature-collection-image">#}
{#                            <div class="caption">#}
{#                                <h3>Glasses Collections</h3>#}
{#                                <small>Start From $25.00</small>#}
{#                            </div>#}
{#                            <div class="masking">#}
{#                                <a href="product-grid-left-sidebar.html" class="btn viewBtn">View Products</a>#}
{#                            </div>#}
{#                        </div>#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            {% for kategori in kategoriler %}
                 <div class="page-header">
                <h4>{{ kategori.adi }}</h4>
            </div>

            <div class="row featuredProducts featuredProductsSlider margin-bottom">
            {% for urun in kategori.urunmodel_set.all %}
            {% if urun.aktifmi%}
                   <div class="slide col-md-3">
                    <div class="productImage clearfix">
                       {% urunsliderresim urun %}
                        <div class="productMasking">
                            <ul class="list-inline btn-group" role="group">
                                <li><a class="btn btn-default btn-wishlist"><i class="fa fa-heart-o"></i></a></li>
                                <li><a href="javascript:void(0)" class="btn btn-default" data-toast
                                       data-toast-type="success" data-toast-position="topRight"
                                       data-toast-icon="icon-circle-check" data-toast-title="Product"
                                       data-toast-message="successfuly added to cart!"><i
                                        class="fa fa-shopping-basket"></i></a></li>
                                <li><a data-toggle="modal" href=".quick-view" class="btn btn-default"><i
                                        class="fa fa-eye"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="productCaption clearfix">
                        <a href="single-product.html">
                            <h4>{{ urun.adi }}</h4>
                        </a>
                        <h3>{{ urun.fiyat }} ₺</h3>
                    </div>
                </div>
            {% endif %}
            {% endfor %}



            </div>

            {% endfor %}


{#            <div class="page-header">#}
{#                <h4>Latest Articles</h4>#}
{#            </div>#}
{#            <div class="row latestArticles">#}
{#                <div class="col-md-4">#}
{#                    <div class="thumbnail">#}
{#                        <a href="blog-single-right-sidebar.html">#}
{#                            <img src="img/home/articles/articles-01.jpg" alt="article-image">#}
{#                        </a>#}
{#                        <div class="date-holder">#}
{#                            <p>08</p>#}
{#                            <span>NOV</span>#}
{#                        </div>#}
{#                        <h5><a href="blog-single-right-sidebar.html">Leo Vitae Nibh Malesuada.</a></h5>#}
{#                        <span class="meta"> by <a class="pr-1" href="#">Abdus</a> / <a class="pl-1"#}
{#                                                                                       href="blog-single-right-sidebar.html">5 Comments</a></span>#}
{#                        <div class="caption">#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed#}
{#                                turpis pharetra pretium nec eu sem.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <div class="thumbnail">#}
{#                        <a href="blog-single-right-sidebar.html">#}
{#                            <img src="img/home/articles/articles-02.jpg" alt="article-image">#}
{#                        </a>#}
{#                        <div class="date-holder">#}
{#                            <p>29</p>#}
{#                            <span>OCT</span>#}
{#                        </div>#}
{#                        <h5><a href="blog-single-right-sidebar.html">Malesuada Pulvinar Quis Fring.</a></h5>#}
{#                        <span class="meta"> by <a class="pr-1" href="#">Abdus</a> / <a class="pl-1"#}
{#                                                                                       href="blog-single-right-sidebar.html">4 Comments</a></span>#}
{#                        <div class="caption">#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed#}
{#                                turpis pharetra pretium nec eu sem.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <div class="thumbnail">#}
{#                        <a href="blog-single-right-sidebar.html">#}
{#                            <img src="img/home/articles/articles-03.jpg" alt="article-image">#}
{#                        </a>#}
{#                        <div class="date-holder">#}
{#                            <p>15</p>#}
{#                            <span>Sep</span>#}
{#                        </div>#}
{#                        <h5><a href="blog-single-right-sidebar.html">Proin Lectus Sed Tincidunt Auctor.</a></h5>#}
{#                        <span class="meta"> by <a class="pr-1" href="#">Abdus</a> / <a class="pl-1"#}
{#                                                                                       href="blog-single-right-sidebar.html">3 Comments</a></span>#}
{#                        <div class="caption">#}
{#                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque convallis nulla sed#}
{#                                turpis pharetra pretium nec eu sem.</p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
{% endblock %}