{% load static templatetags %}
<div class="footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-12">
                <div class="footerLink">
                    <h5>Yemek</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Poğaça </a></li>
                        <li><a href="#">Börek </a></li>
                        <li><a href="#">Tatlı </a></li>
                        <li><a href="#">Salata </a></li>
                        <li><a href="#">Makarna </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="footerLink">
                    <h5>El İşi</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Yelek </a></li>
                        <li><a href="#">Hırka </a></li>
                        <li><a href="#">Tülbent</a></li>
                        <li><a href="#">Lif</a></li>
                        <li><a href="#">Patik</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="footerLink">
                    <h5>Tasarım ve Dekorasyon</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Kutu </a></li>
                        <li><a href="#">Anahtarlık </a></li>
                        <li><a href="#">Süs Eşyaları</a></li>
                        <li><a href="#">Toka </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-12">
                <div class="footerLink">
                    <h5>Bizimle İletişime Geçin</h5>
                    <ul class="list-unstyled">
                        <li>0 (536) 1234567</li>
                        <li><a href="mailto:support@iamabdus.com">hanimeli@hanimeli.com</a></li>
                    </ul>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="newsletter clearfix">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d385398.58980347496!2d28.73199289583766!3d41.00498228313809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa7040068086b%3A0xe1ccfe98bc01b0d0!2zxLBzdGFuYnVs!5e0!3m2!1str!2str!4v1620309063138!5m2!1str!2str"
                            width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- COPY RIGHT -->
<div class="copyRight clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-12">
                <p>&copy; 2021 Çocuk Elif TEKE Tarafından oluşturulmuştur ! Hadi herkes baksın kendi işine ... </p>
            </div>
            <div class="col-md-5 col-12">
                <ul class="list-inline">
                    <li><img src="{% static 'img/home/footer/card1.png' %}"></li>
                    <li><img src="{% static 'img/home/footer/card2.png' %}"></li>
                    <li><img src="{% static 'img/home/footer/card3.png' %}"></li>
                    <li><img src="{% static 'img/home/footer/card4.png' %}"></li>
                </ul>
            </div>
        </div>
    </div>
</div>