{% load static templatetags %}
<div class="bannercontainer bannerV1">
    <div class="fullscreenbanner-container">
        <div class="fullscreenbanner">
            <ul>

                {% for urun in urunler %}
                    <li data-transition="slidehorizontal" data-slotamount="5" data-masterspeed="700"
                        data-title="Slide 1">
                        <img src="{% static 'img/home/banner-slider/slider-bg.jpg' %}" alt="slidebg1" data-bgfit="cover"
                             data-bgposition="center center" data-bgrepeat="no-repeat">
                        <div class="slider-caption slider-captionV1 container">

                            <div class="tp-caption rs-caption-1 sft start"
                                 data-hoffset="2"
                                 data-x="800"
                                 data-y="100"
                                 data-speed="800"
                                 data-start="1500"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">
                                {% urunsliderresim urun %}
                            </div>

                            <div class="tp-caption rs-caption-2 sft"
                                 data-hoffset="0"
                                 data-y="100"
                                 data-x="[15,15,42,15]"
                                 data-speed="800"
                                 data-start="2000"
                                 data-easing="Back.easeInOut"
                                 data-endspeed="300">
                                {{ urun.adi }}
                            </div>

                            <div class="tp-caption rs-caption-3 sft"
                                 data-hoffset="0"
                                 data-y="175"
                                 data-x="[15,15,42,15]"
                                 data-speed="1000"
                                 data-start="3000"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off">
                                  {{ urun.fiyat }} ₺<br>

                            </div>
                            <div class="tp-caption rs-caption-4 sft"
                                 data-hoffset="0"
                                 data-y="310"
                                 data-x="[15,15,42,15]"
                                 data-speed="800"
                                 data-start="3500"
                                 data-easing="Power4.easeOut"
                                 data-endspeed="300"
                                 data-endeasing="Power1.easeIn"
                                 data-captionhidden="off">
                                <span class="page-scroll"><a href="#" class="btn primary-btn">Buy Now<i
                                        class="fa fa-chevron-right"></i></a></span>
                            </div>
                        </div>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>